/* .bg-image{
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/012.webp');
    height: 50vh;
} */
.back{background-image: url(../../../assets/stock-bg.png); background-position: center;background-size: cover;}   
.btn1{border-radius: 31px;background: transparent;border: 2px solid white !important;min-width: 175px;FONT-WEIGHT: 700;}
.btn1:hover{background: transparent;border-radius: 34px;border: 1px solid #fff;background-color: #fff; color:#ee7724;}
.text-banner{color: #fff;}
.txt{font-size: 20px;color: #fff;font-weight: 700;}
#background-p{padding-top: 100px;padding-bottom: 150px;}
th{border: 1px solid #eaeaea; font-size: 12px;}
td{border: 1px solid #eaeaea; font-size: 12px;}
.tabl2{padding-top: 30px;}
.btn21{font-size: 12px;padding-top: 0px; padding-bottom:2px; }