<div class="container">
    <div class="row py-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Chat Application</h5>
                    <a href="#" [routerLink]="['/chat/home-page']" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Education Application</h5>
                    <a href="#" [routerLink]="['/education/edu-home']" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Stock market Application</h5>
                    <a href="#" [routerLink]="['/stock-market/home']" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
        </div>
    </div>
</div>
