<app-edu-header></app-edu-header>

<section class="back" id="background-p">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p class="text-center txt">Start Making A Career</p>
            <h1 class="mb-4 text-center text-banner">
                Better Learning Future Starts With OBJ Ques
            </h1>
            <p class="text-center text-banner">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolores fugit cumque, soluta et eligendi quas placeat deleniti delectus saepe tempore non nobis, suscipit officia similique illum, laboriosam dignissimos aperiam.</p>
            <button class="btn btn-primary btn1">Read More →</button>
        </div>
    </div>
  </div>
</section>


